In [1]:
import pandas as pd

In [2]:
df_relaciones = pd.read_csv('../datos/relaciones.csv', names=['numero_correlativo', 'dni', 'tipo'])
df_relaciones.head()

   numero_correlativo       dni       tipo
0                  44  10134086  AUTORIDAD
1                  60  10260149      SOCIO
2                  60  11499344      SOCIO
3                  60  10260149  AUTORIDAD
4                  60  11499344  AUTORIDAD

In [3]:
df_nodos_empresas = pd.read_csv('../datos/nodos_empresas.csv', names=['nodo', 'dni', 'persona_fisica', 'tipo'])
df_nodos_empresas.head()

                    nodo  dni  persona_fisica  tipo
0   A A VALLE Y COMPA¥IA   10           False    10
1  A LUCERO Y H CARATOLI   11           False    10
2         A PUIG E HIJOS   12           False    10
3              A C I C A   13           False    10
4   A¥ON BEATRIZ S Y CIA   14           False    10

In [4]:
numeros_relaciones = set(df_relaciones['numero_correlativo'].unique())
numeros_nodos = set(df_nodos_empresas['dni'].unique())

no_existen = numeros_relaciones.difference(numeros_nodos)
no_existen

{122042, 359137, 360770, 475986, 800066, 1503121, 1503317}

In [5]:
def filtrando(ele):
    if ele in no_existen:
        return False
    else:
        return True
    
df_relaciones['no_existe'] = df_relaciones['numero_correlativo'].apply(filtrando)
df_relaciones.head()

   numero_correlativo       dni       tipo  no_existe
0                  44  10134086  AUTORIDAD       True
1                  60  10260149      SOCIO       True
2                  60  11499344      SOCIO       True
3                  60  10260149  AUTORIDAD       True
4                  60  11499344  AUTORIDAD       True

In [6]:
df_relaciones[df_relaciones['no_existe'] == False]

        numero_correlativo       dni       tipo  no_existe
9805                122042  18263703      SOCIO      False
9806                122042  21983587      SOCIO      False
9807                122042  18263703  AUTORIDAD      False
9808                122042  21983587  AUTORIDAD      False
182128              359137   4606878  AUTORIDAD      False
182129              359137   3792511  AUTORIDAD      False
182130              359137   4342828  AUTORIDAD      False
182131              359137   1660759  AUTORIDAD      False
182132              359137   4441776  AUTORIDAD      False
182133              359137   2845709  AUTORIDAD      False
182134              359137   3889475  AUTORIDAD      False
182135              359137   1731649  AUTORIDAD      False
182136              359137   4392364  AUTORIDAD      False
182137              359137   3947835  AUTORIDAD      False
193400              360770   1513364  AUTORIDAD      False
193401              360770   4860978  AUTORIDAD      False
193402              360770   8331257  AUTORIDAD      False
193403              360770   3400881  AUTORIDAD      False
193404              360770   2557803  AUTORIDAD      False
193405              360770  10688016  AUTORIDAD      False
193406              360770   5165131  AUTORIDAD      False
193407              360770   4379996  AUTORIDAD      False
193408              360770   3177250  AUTORIDAD      False
193409              360770   4227428  AUTORIDAD      False
193410              360770   8348301  AUTORIDAD      False
193411              360770   7925488  AUTORIDAD      False
193412              360770  20006694  AUTORIDAD      False
193413              360770         0  AUTORIDAD      False
193414              360770   4603318  AUTORIDAD      False
193415              360770   8660613  AUTORIDAD      False
193416              360770   7555251  AUTORIDAD      False
193417              360770  17806767  AUTORIDAD      False
193418              360770  13924284  AUTORIDAD      False
193419              360770   6962967  AUTORIDAD      False
193420              360770   4343917  AUTORIDAD      False
193421              360770   4491384  AUTORIDAD      False
193422              360770   4397315  AUTORIDAD      False
212443              475986  92034955  AUTORIDAD      False
227271              800066   4246885  AUTORIDAD      False
227272              800066   4648237  AUTORIDAD      False
227273              800066  22654990  AUTORIDAD      False
227274              800066  18592677  AUTORIDAD      False
257018             1503121   4545469      SOCIO      False
257019             1503121   4376406      SOCIO      False
257042             1503317  12153736      SOCIO      False

In [7]:
df_limpio = df_relaciones[df_relaciones['no_existe'] == True]
df_limpio = df_limpio.drop('no_existe', axis=1)
df_limpio.head()

   numero_correlativo       dni       tipo
0                  44  10134086  AUTORIDAD
1                  60  10260149      SOCIO
2                  60  11499344      SOCIO
3                  60  10260149  AUTORIDAD
4                  60  11499344  AUTORIDAD

In [8]:
df_limpio.iloc[532]

numero_correlativo     3618
dni                     NaN
tipo                  SOCIO
Name: 532, dtype: object

In [9]:
df_limpio.iloc[532]['dni']

nan

In [11]:
import numpy as np

In [20]:
df_limpio = pd.read_csv('../datos/relaciones_limpio.csv', names=['numero_correlativo', 'dni', 'tipo'])
df_limpio

         numero_correlativo       dni       tipo
0                        44  10134086  AUTORIDAD
1                        60  10260149      SOCIO
2                        60  11499344      SOCIO
3                        60  10260149  AUTORIDAD
4                        60  11499344  AUTORIDAD
5                        81  16582315      SOCIO
6                        81   1822142      SOCIO
7                        81  10423650      SOCIO
8                        81   4420774      SOCIO
9                        81  11224774      SOCIO
10                       81  12987769      SOCIO
11                       94  04358990  AUTORIDAD
12                       94  11423316  AUTORIDAD
13                       94   4358990  AUTORIDAD
14                       94  11423316  AUTORIDAD
15                      120   8462662  AUTORIDAD
16                      120   7629059  AUTORIDAD
17                      123  10305730  AUTORIDAD
18                      123  21030818  AUTORIDAD
19                      175   3764305      SOCIO
20                      175   6142579      SOCIO
21                      175  14970263      SOCIO
22                      175   4576047      SOCIO
23                      175   3029202      SOCIO
24                      175  16606163      SOCIO
25                      175  16477908      SOCIO
26                      175  16049828      SOCIO
27                      175   7578524      SOCIO
28                      175  14970263  AUTORIDAD
29                      175   6142579      SOCIO
...                     ...       ...        ...
1477591             1912427  94201049  AUTORIDAD
1477592             1912428  34789741  AUTORIDAD
1477593             1912428  33990543  AUTORIDAD
1477594             1912429  21712918  AUTORIDAD
1477595             1912429  37377769  AUTORIDAD
1477596             1912431  92704166  AUTORIDAD
1477597             1912431  93918168  AUTORIDAD
1477598             1912436  94571000  AUTORIDAD
1477599             1912436  94814667  AUTORIDAD
1477600             1912439  32195536  AUTORIDAD
1477601             1912439  29192391  AUTORIDAD
1477602             1912441  27711438      SOCIO
1477603             1912442  21703294      SOCIO
1477604             1912445  27934663      SOCIO
1477605             1912446  94022335      SOCIO
1477606             1912448  95237561      SOCIO
1477607             1912448  95237563      SOCIO
1477608             1912453  30639919      SOCIO
1477609             1912466  28507420  AUTORIDAD
1477610             1912466  94191000  AUTORIDAD
1477611             1912473  38308149      SOCIO
1477612             1912476  26616289      SOCIO
1477613             1912477  31980844  AUTORIDAD
1477614             1912477  30020408  AUTORIDAD
1477615             1912481  14619558      SOCIO
1477616             1912482  27310758      SOCIO
1477617             1912489  12914139  AUTORIDAD
1477618             1912489  25877964  AUTORIDAD
1477619             5124511  22322163  AUTORIDAD
1477620             5124511  29656980  AUTORIDAD

[1477621 rows x 3 columns]

In [24]:
df_limpio['dni'] = df_limpio['dni'].fillna(False)
df_limpio['tipo'] = df_limpio['tipo'].fillna(False)
df_limpio['numero_correlativo'] = df_limpio['numero_correlativo'].fillna(False)
df_limpio[df_limpio['dni'] == False]

         numero_correlativo    dni       tipo
532                    3618  False      SOCIO
719                    6919  False      SOCIO
1277                  11134  False  AUTORIDAD
1650                  14065  False      SOCIO
2097                  31056  False      SOCIO
2281                  35139  False      SOCIO
2786                  45121  False      SOCIO
3134                  51017  False      SOCIO
3256                  52333  False      SOCIO
3462                  56165  False      SOCIO
4189                  61635  False      SOCIO
5007                  68746  False      SOCIO
5811                  75513  False  AUTORIDAD
5812                  75513  False  AUTORIDAD
6317                  79690  False      SOCIO
7300                  94373  False      SOCIO
8649                 107540  False      SOCIO
8650                 107540  False      SOCIO
9384                 117018  False      SOCIO
9676                 119338  False  AUTORIDAD
11184                143180  False  AUTORIDAD
12534                157323  False  AUTORIDAD
12793                157467  False  AUTORIDAD
12794                157467  False  AUTORIDAD
12795                157467  False  AUTORIDAD
14207                159390  False  AUTORIDAD
15409                160384  False  AUTORIDAD
23304                167765  False  AUTORIDAD
23306                167765  False  AUTORIDAD
25778                170268  False  AUTORIDAD
...                     ...    ...        ...
1463661             1904369  False      SOCIO
1463662             1904369  False      SOCIO
1465115             1905115  False      SOCIO
1465116             1905115  False      SOCIO
1465280             1905175  False      SOCIO
1465281             1905175  False      SOCIO
1465700             1905371  False      SOCIO
1465701             1905371  False      SOCIO
1465702             1905371  False      SOCIO
1465703             1905371  False      SOCIO
1465804             1905423  False      SOCIO
1465977             1905510  False      SOCIO
1466067             1905550  False      SOCIO
1466068             1905550  False      SOCIO
1466361             1905702  False      SOCIO
1466362             1905702  False      SOCIO
1466412             1905728  False      SOCIO
1466413             1905728  False      SOCIO
1466417             1905730  False      SOCIO
1466418             1905730  False      SOCIO
1469145             1907051  False      SOCIO
1469212             1907094  False      SOCIO
1470110             1907630  False      SOCIO
1470992             1908108  False      SOCIO
1470993             1908108  False      SOCIO
1470994             1908108  False      SOCIO
1471432             1908314  False      SOCIO
1471433             1908314  False      SOCIO
1471434             1908314  False      SOCIO
1471435             1908314  False      SOCIO

[997 rows x 3 columns]

In [25]:
df_limpio.to_csv('../datos/relaciones_limpio.csv', index=False, header=False)

In [26]:
df = pd.read_csv('../datos/nodos_empresas.csv', names=['nodos', 'dni', 'persona_fisica', 'tipo'])
df.head()

                   nodos  dni  persona_fisica  tipo
0   A A VALLE Y COMPA¥IA   10           False    10
1  A LUCERO Y H CARATOLI   11           False    10
2         A PUIG E HIJOS   12           False    10
3              A C I C A   13           False    10
4   A¥ON BEATRIZ S Y CIA   14           False    10

In [31]:
df_a = pd.DataFrame([['False INC', 'False', False, False]], columns=['nodos', 'dni', 'persona_fisica', 'tipo'])
df = pd.concat([df, df_a], ignore_index=True)
df

,nodos,dni,persona_fisica,tipo
0,A A VALLE Y COMPA¥IA,10,False,10
1,A LUCERO Y H CARATOLI,11,False,10
2,A PUIG E HIJOS,12,False,10
3,A C I C A,13,False,10
4,A¥ON BEATRIZ S Y CIA,14,False,10
5,ABA DIESEL,15,False,10
6,ABADA L JOSE Y JORGE JOSE ABADAL,16,False,10
7,ABADAL JOSE E HIJO,17,False,10
8,ABATE Y MACIAS,18,False,10
9,ABEL H AMOROSO Y LUCIO A MORACA,19,False,10
10,ACAPULCO TEXTIL,20,False,10
11,ACCORINTI HNOS,21,False,10
12,ACEBAL Y COMPA¥IA,22,False,10
13,ACUNA Y HUERRES,23,False,10
14,ADMINISTRACION SAGAFE,24,False,10
15,ADMINISTRADORA LOS CORRALES,25,False,10
16,AEK INGENIERIA ELECTRONICA,26,False,10
17,AFER,27,False,10
18,AGENCIA ANNY,28,False,10
19,AGENCIA EL DUENDE,29,False,10
20,AGENCIA LUCINES,30,False,10
21,AGENCIA COMAS Y MUSI,31,False,10
22,AGENTE DE BOLSA MOLINARI Y CIA,32,False,10
23,AGENTE DE BOLSA OSCAR VALENTIN QUIROGA Y CIA,33,False,10
24,AGROCONSULT,34,False,10
25,AGROQUIMICA SAN DIEGO,35,False,10
26,DANIEL AGUSTIN Y CIA,36,False,10
27,AGUSTO BARLARO Y CIA,37,False,10
28,ALAMBIQUE,38,False,10
29,ALAMO EL,39,False,10
...,...,...,...,...
898497,"PALACIOS CALDERON, FRANCO GIOVANNI",5141681,False,250
898498,"PALACIOS, MIA LUCIANA",5141682,False,250
898499,DALILA CORIN HUAMAN PUELL,5141683,False,250
898500,"GALLETO PEREIRA,ANA KAREN",5141684,False,250
898501,"BARCEL GALLETO,BARBARA ALLISSON",5141685,False,250
898502,"GILARDON,JORGE EDUARDO",5141686,False,250
898503,"ALAMINO,PEDRO OSCAR",5141687,False,250
898504,"MIGUEL,MARIANO DIEGO",5141688,False,250
898505,VAZQUEZ ALBERTO SERAFIN,5141689,False,250
898506,"YANCOVICH,OLGA VIOLETA",5141690,False,250
898507,"IVANOFF, JORGE GUILLERMO",5141691,False,250
898508,"MAZZUKA,LEONARDO ROBERTO",5141692,False,250
898509,"MIGUEL, JORGE LUIS",5141693,False,250
898510,"TRAICO,SANDRA BEATRIZ",5141694,False,250
898511,"MIGUEL, FABIO DANIEL",5141695,False,250
898512,"PEREIRA ALVEZ, JULIA YOLANDA",5141696,False,250
898513,"DIAZ, ROSMARI MARIEL",5141697,False,250
898514,"KOHN, ARMANDO LUCIO",5141698,False,250
898515,"ABDALA,GUSTAVO",5141699,False,250
898516,"LAURITO, VICENTE",5141700,False,250
898517,"LAURITO, JONATHAN DAMIAN",5141701,False,250
898518,"RAYMUNDO MORENO,CARLOS LENIN",5141702,False,250
898519,"RAYMUNDO MORENO,WILLIAM PACO",5141703,False,250
898520,"DELGADO, JUAN JOSE",5141704,False,250
898521,"PARAJON PENNACCHIO, FACUNDO EZEQUIEL",5141705,False,250
898522,"GALLETO PEREIRA,DARIO NICOLAS",5141706,False,250
898523,CENTRO CULTURAL LA PAJARERA,5141707,False,160
898524,INSTITUTO DE SALUD MENTAL SOMA S.R.L.,5141708,False,160
898525,OTROS ORGANISMOS,8000000,False,160
898526,False INC,False,False,0

In [32]:
df.to_csv('../datos/nodos_empresas.csv', index=False, header=False)

In [33]:
df = pd.read_csv('../datos/nodos_personas.csv', names=['nodos', 'dni', 'persona_fisica', 'tipo'])
df_a = pd.DataFrame([['False INC', 'False', False, False]], columns=['nodos', 'dni', 'persona_fisica', 'tipo'])
df = pd.concat([df, df_a], ignore_index=True)
df

                                      nodos       dni  persona_fisica  tipo
0                   ALDAZABAL, PABLO MANUEL  10134086            True     1
1                     ALVAREZ, HORACIO RAUL  10260149            True     1
2                     ALVAREZ, LUIS ENRIQUE  11499344            True     1
3                      ESTHER LILIANA NAVAL  16582315            True     1
4                      DOLORES MANUELA LADO   1822142            True     1
5                   FURLANO, EMILIA ADRIANA  10423650            True     1
6                            FURLANO,UMILDE   4420774            True     4
7                        FURLANO, ANA MARIA  11224774            True     1
8                 FURLANO, GRACIELA LILIANA  12987769            True     1
9                     STURM ORLANDO RICARDO  04358990            True     1
10                    DENAMI CATALINA MARTA  11423316            True     1
11                    ORLANDO RICARDO STURM   4358990            True     4
12                    BAGNARDI MARIO SERGIO   8462662            True     1
13               BAGNARDI GERARDO FRANCISCO   7629059            True     1
14                  FELIPE HECTOR BALLESTER  10305730            True     1
15              BETTINA MARGARITA BALLESTER  21030818            True     1
16                 BOGARI, SANTIAGO ANTONIO   3764305            True     2
17                       ARAIZ, OSCAR PEDRO   6142579            True     1
18                BOGARI, FEDERICO SANTIAGO  14970263            True     1
19                  COLOTTO, PEDRO NORBERTO   4576047            True     2
20                         DIAZ, JOSE SIMON   3029202            True     1
21                        ROLLHAUSER, JORGE  16606163            True     1
22                          POUZA,ALEJANDRO  16477908            True     1
23                        ALVARADO, EDUARDO  16049828            True     1
24                   FERNANDEZ, CARLOS LUIS   7578524            True     1
25                      NESTOR JULIO BLANCO   7300723            True     1
26                   BROWNE PEDRO GUILLERMO   4372128            True     1
27                             BUSTOS OSCAR    410063            True     1
28                      CATENAZZI, EMILIANO   2654404            True     2
29                   GIACOBONE, CARLOS LUIS   4732826            True     2
...                                     ...       ...             ...   ...
615731                   Miguel Angel, Muga   6259246            True     1
615732  Katherine Gladys, Bermudez Bermudez  94701279            True     1
615733           Pier Renato, Peceros Muñoz  95552223            True     1
615734                   Hernán José, PIQUE  29655477            True     1
615735            Leonardo Agustín, Soroeta  34015980            True     1
615736         Patricio Martín, Altamiranda  33691866            True     1
615737              BELLUSCIO, Julio Gaston  17910728            True     1
615738             Romano, Fernando Rodolfo  22501796            True     1
615739            ROJAS SEJAS, Juan Rolando  92632466            True     1
615740              ANDRES TUILIO, GIACHINI  28673778            True     1
615741           FERNANDO MARTIN, DOMINGUEZ  21763746            True     1
615742                  HENRY, Sean Patrick  18315940            True     1
615743              RIES CENTENO, Constanza  22991124            True     1
615744     FLORES REATEGUY, Rocío del Pilar  94201049            True     1
615745                CAÑETE, Yamil Agustín  34789741            True     1
615746          DI BENEDETTO, Pablo Augusto  33990543            True     1
615747             TORRES, Giselle Anabella  37377769            True     1
615748                          ZHUANG, QUN  94571000            True     1
615749                             YAN, HUI  94814667            True     1
615750     PEREZ RIGHENTINI, Rogelio Martin  21703294            True     1
615751                    NICOLAS, O REILLY  27934663            True     1
615752                            SU, XUNKE  94022335            True     1
615753       CERVANTES MARIN, Vania Lizbeth  95237561            True     1
615754            ZARATE CAZAS, Jhimmy Alex  95237563            True     1
615755               Mariano Javier, Scippo  30639919            True     1
615756                CAÑETE, Hugo Federico  28507420            True     1
615757               CABALLERO MORA, Marcos  94191000            True     1
615758           Juliana Daniela, MIRABELLI  27310758            True     1
615759             PEREZ RIOS, ANDREA MARIA  22322163            True     1
615760                            False INC     False           False     0

[615761 rows x 4 columns]

In [34]:
df.to_csv('../datos/nodos_personas.csv', index=False, header=False)