In [1]:
import pandas as pd

In [11]:
df_autoridades = pd.read_csv('../datos/igj-autoridades.csv')

def remove_spaces(ele):
    ele = ele.replace('.', '')
    return ''.join(ele.split())

df_autoridades['numero_documento'] = df_autoridades['numero_documento'].astype(str)
df_autoridades['numero_documento'] = df_autoridades['numero_documento'].apply(remove_spaces)
df_autoridades.head()

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
0,44,"ALDAZABAL, PABLO MANUEL",A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10134086
1,60,"ALVAREZ, HORACIO RAUL",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
2,60,"ALVAREZ, LUIS ENRIQUE",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344
3,60,ALVAREZ HORACIO RAUL,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
4,60,ALVAREZ LUIS ENRIQUE,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344

In [5]:
df_nodos = pd.DataFrame()
df_nodos['nodos'] = df_autoridades.drop_duplicates('numero_documento', keep='first')['apellido_nombre']
df_nodos['dni'] = df_autoridades.drop_duplicates('numero_documento', keep='first')['numero_documento']
df_nodos['persona_fisica'] = [True for _ in range(df_nodos.shape[0])]
df_nodos['tipo'] = df_autoridades.drop_duplicates('numero_documento', keep='first')['tipo_documento']

df_nodos

                                       nodos       dni  persona_fisica  tipo
0                    ALDAZABAL, PABLO MANUEL  10134086            True     1
1                      ALVAREZ, HORACIO RAUL  10260149            True     1
2                      ALVAREZ, LUIS ENRIQUE  11499344            True     1
5                       ESTHER LILIANA NAVAL  16582315            True     1
6                       DOLORES MANUELA LADO   1822142            True     1
7                    FURLANO, EMILIA ADRIANA  10423650            True     1
8                             FURLANO,UMILDE   4420774            True     4
9                         FURLANO, ANA MARIA  11224774            True     1
10                 FURLANO, GRACIELA LILIANA  12987769            True     1
11                     STURM ORLANDO RICARDO  04358990            True     1
12                     DENAMI CATALINA MARTA  11423316            True     1
13                     ORLANDO RICARDO STURM   4358990            True     4
15                     BAGNARDI MARIO SERGIO   8462662            True     1
16                BAGNARDI GERARDO FRANCISCO   7629059            True     1
17                   FELIPE HECTOR BALLESTER  10305730            True     1
18               BETTINA MARGARITA BALLESTER  21030818            True     1
19                  BOGARI, SANTIAGO ANTONIO   3764305            True     2
20                        ARAIZ, OSCAR PEDRO   6142579            True     1
21                 BOGARI, FEDERICO SANTIAGO  14970263            True     1
22                   COLOTTO, PEDRO NORBERTO   4576047            True     2
23                          DIAZ, JOSE SIMON   3029202            True     1
24                         ROLLHAUSER, JORGE  16606163            True     1
25                           POUZA,ALEJANDRO  16477908            True     1
26                         ALVARADO, EDUARDO  16049828            True     1
27                    FERNANDEZ, CARLOS LUIS   7578524            True     1
30                       NESTOR JULIO BLANCO   7300723            True     1
32                    BROWNE PEDRO GUILLERMO   4372128            True     1
33                              BUSTOS OSCAR    410063            True     1
34                       CATENAZZI, EMILIANO   2654404            True     2
35                    GIACOBONE, CARLOS LUIS   4732826            True     2
...                                      ...       ...             ...   ...
1477611               BELVEDERE, JUAN MANUEL  34927740            True     1
1477613                   Miguel Angel, Muga   6259246            True     1
1477614  Katherine Gladys, Bermudez Bermudez  94701279            True     1
1477615           Pier Renato, Peceros Muñoz  95552223            True     1
1477618                   Hernán José, PIQUE  29655477            True     1
1477619            Leonardo Agustín, Soroeta  34015980            True     1
1477620         Patricio Martín, Altamiranda  33691866            True     1
1477621              BELLUSCIO, Julio Gaston  17910728            True     1
1477622             Romano, Fernando Rodolfo  22501796            True     1
1477626            ROJAS SEJAS, Juan Rolando  92632466            True     1
1477627              ANDRES TUILIO, GIACHINI  28673778            True     1
1477629           FERNANDO MARTIN, DOMINGUEZ  21763746            True     1
1477633                  HENRY, Sean Patrick  18315940            True     1
1477634              RIES CENTENO, Constanza  22991124            True     1
1477636     FLORES REATEGUY, Rocío del Pilar  94201049            True     1
1477637                CAÑETE, Yamil Agustín  34789741            True     1
1477638          DI BENEDETTO, Pablo Augusto  33990543            True     1
1477640             TORRES, Giselle Anabella  37377769            True     1
1477643                          ZHUANG, QUN  94571000            True     1
1477644                             YAN, HUI  94814667            True     1
1477648     PEREZ RIGHENTINI, Rogelio Martin  21703294            True     1
1477649                    NICOLAS, O REILLY  27934663            True     1
1477650                            SU, XUNKE  94022335            True     1
1477651       CERVANTES MARIN, Vania Lizbeth  95237561            True     1
1477652            ZARATE CAZAS, Jhimmy Alex  95237563            True     1
1477653               Mariano Javier, Scippo  30639919            True     1
1477654                CAÑETE, Hugo Federico  28507420            True     1
1477655               CABALLERO MORA, Marcos  94191000            True     1
1477661           Juliana Daniela, MIRABELLI  27310758            True     1
1477664             PEREZ RIOS, ANDREA MARIA  22322163            True     1

[615760 rows x 4 columns]

In [8]:
df_nodos.to_csv('../datos/nodos_personas.csv', index=False, header=False)

In [2]:
df_entidades = pd.read_csv('../datos/igj-entidades.csv')
df_entidades.head()

,numero_correlativo,tipo_societario,descripcion_tipo_societario,razon_social,dada_de_baja,codigo_baja,detalle_baja
0,10,10,SOCIEDAD COLECTIVA,A A VALLE Y COMPA¥IA,S,42014.0,PERTENECE A REGISTRO ENTIDADES INACTIVAS
1,11,10,SOCIEDAD COLECTIVA,A LUCERO Y H CARATOLI,S,42014.0,PERTENECE A REGISTRO ENTIDADES INACTIVAS
2,12,10,SOCIEDAD COLECTIVA,A PUIG E HIJOS,S,42014.0,PERTENECE A REGISTRO ENTIDADES INACTIVAS
3,13,10,SOCIEDAD COLECTIVA,A C I C A,S,42014.0,PERTENECE A REGISTRO ENTIDADES INACTIVAS
4,14,10,SOCIEDAD COLECTIVA,A¥ON BEATRIZ S Y CIA,S,42014.0,PERTENECE A REGISTRO ENTIDADES INACTIVAS

In [8]:
df_nodos = pd.DataFrame()

df_nodos['nodos'] = df_entidades.drop_duplicates('numero_correlativo', keep='first')['razon_social']
df_nodos['dni'] = df_entidades.drop_duplicates('numero_correlativo', keep='first')['numero_correlativo']
df_nodos['persona_fisica'] = [False for _ in range(df_nodos.shape[0])]
df_nodos['tipo'] = df_entidades.drop_duplicates('numero_correlativo', keep='first')['tipo_societario']

df_nodos.head()

                   nodos  dni  persona_fisica  tipo
0   A A VALLE Y COMPA¥IA   10           False    10
1  A LUCERO Y H CARATOLI   11           False    10
2         A PUIG E HIJOS   12           False    10
3              A C I C A   13           False    10
4   A¥ON BEATRIZ S Y CIA   14           False    10

In [9]:
df_nodos.to_csv('../datos/nodos_empresas.csv', index=False, header=False)

In [ ]:
df_nodos[]

In [17]:
df_nodos = pd.read_csv('../datos/nodos_empresas.csv')
df_nodos

                                A A VALLE Y COMPA¥IA       10  False  10.1
0                              A LUCERO Y H CARATOLI       11  False    10
1                                     A PUIG E HIJOS       12  False    10
2                                          A C I C A       13  False    10
3                               A¥ON BEATRIZ S Y CIA       14  False    10
4                                         ABA DIESEL       15  False    10
5                   ABADA L JOSE Y JORGE JOSE ABADAL       16  False    10
6                                 ABADAL JOSE E HIJO       17  False    10
7                                     ABATE Y MACIAS       18  False    10
8                    ABEL H AMOROSO Y LUCIO A MORACA       19  False    10
9                                    ACAPULCO TEXTIL       20  False    10
10                                    ACCORINTI HNOS       21  False    10
11                                 ACEBAL Y COMPA¥IA       22  False    10
12                                   ACUNA Y HUERRES       23  False    10
13                             ADMINISTRACION SAGAFE       24  False    10
14                       ADMINISTRADORA LOS CORRALES       25  False    10
15                        AEK INGENIERIA ELECTRONICA       26  False    10
16                                              AFER       27  False    10
17                                      AGENCIA ANNY       28  False    10
18                                 AGENCIA EL DUENDE       29  False    10
19                                   AGENCIA LUCINES       30  False    10
20                              AGENCIA COMAS Y MUSI       31  False    10
21                    AGENTE DE BOLSA MOLINARI Y CIA       32  False    10
22      AGENTE DE BOLSA OSCAR VALENTIN QUIROGA Y CIA       33  False    10
23                                       AGROCONSULT       34  False    10
24                             AGROQUIMICA SAN DIEGO       35  False    10
25                              DANIEL AGUSTIN Y CIA       36  False    10
26                              AGUSTO BARLARO Y CIA       37  False    10
27                                         ALAMBIQUE       38  False    10
28                                          ALAMO EL       39  False    10
29                                           1567441       40  False    10
...                                              ...      ...    ...   ...
839683                         CALDERON, CARMEN ROSA  5141680  False   250
839684            PALACIOS CALDERON, FRANCO GIOVANNI  5141681  False   250
839685                         PALACIOS, MIA LUCIANA  5141682  False   250
839686                     DALILA CORIN HUAMAN PUELL  5141683  False   250
839687                     GALLETO PEREIRA,ANA KAREN  5141684  False   250
839688               BARCEL GALLETO,BARBARA ALLISSON  5141685  False   250
839689                        GILARDON,JORGE EDUARDO  5141686  False   250
839690                           ALAMINO,PEDRO OSCAR  5141687  False   250
839691                          MIGUEL,MARIANO DIEGO  5141688  False   250
839692                       VAZQUEZ ALBERTO SERAFIN  5141689  False   250
839693                        YANCOVICH,OLGA VIOLETA  5141690  False   250
839694                      IVANOFF, JORGE GUILLERMO  5141691  False   250
839695                      MAZZUKA,LEONARDO ROBERTO  5141692  False   250
839696                            MIGUEL, JORGE LUIS  5141693  False   250
839697                         TRAICO,SANDRA BEATRIZ  5141694  False   250
839698                          MIGUEL, FABIO DANIEL  5141695  False   250
839699                  PEREIRA ALVEZ, JULIA YOLANDA  5141696  False   250
839700                          DIAZ, ROSMARI MARIEL  5141697  False   250
839701                           KOHN, ARMANDO LUCIO  5141698  False   250
839702                                ABDALA,GUSTAVO  5141699  False   250
839703                              LAURITO, VICENTE  5141700  False   250
839704                      LAURITO, JONATHAN DAMIAN  5141701  False   250
839705                  RAYMUNDO MORENO,CARLOS LENIN  5141702  False   250
839706                  RAYMUNDO MORENO,WILLIAM PACO  5141703  False   250
839707                            DELGADO, JUAN JOSE  5141704  False   250
839708          PARAJON PENNACCHIO, FACUNDO EZEQUIEL  5141705  False   250
839709                 GALLETO PEREIRA,DARIO NICOLAS  5141706  False   250
839710                   CENTRO CULTURAL LA PAJARERA  5141707  False   160
839711         INSTITUTO DE SALUD MENTAL SOMA S.R.L.  5141708  False   160
839712                              OTROS ORGANISMOS  8000000  False   160

[839713 rows x 4 columns]